@use "global" as *;

.p-representative-story {
  overflow: hidden;
  @include mq(sm) {
    min-width: myrem(1100);
  }
}

.p-representative-story__content {
  margin-top: myrem(40);
  position: relative;
  @include mq(sm) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: myrem(51);
  }
}

.p-representative-story__content:nth-of-type(1) {
  @include mq(sm) {
    flex-direction: row-reverse;
  }
}

.p-representative-story__content::before {
  content: "";
  background: url(../images/representative-story-bg_sp01.png) no-repeat center /
    cover;
  aspect-ratio: 750 / 1163;
  width: 100vw;
  height: auto;
  position: absolute;
  bottom: myrem(-180);
  left: 0;
  z-index: -1;
  margin-inline: calc(50% - 50vw);
  @include mq(sm) {
    content: none;
  }
}

.p-representative-story__content:nth-of-type(2)::before {
  background: url(../images/representative-story-bg_sp02.png) no-repeat center /
    cover;
  bottom: myrem(-220);
}

.p-representative-story__image {
  width: myrem(335);
  margin-inline: auto;
  @include mq(sm) {
    width: calc(420 / 1100 * 100%);
    margin-inline: 0;
    position: relative;
  }
}

.p-representative-story__image::before {
  @include mq(sm) {
    content: "";
    background: url(../images/representative-story-bg_pc01.png) no-repeat center /
      cover;
    aspect-ratio: 1511 / 1581;
    width: myrem(755);
    height: auto;
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    left: myrem(-185);
    z-index: -1;
  }
}

.p-representative-story__content:nth-of-type(2) .p-representative-story__image {
  @include mq(sm) {
    margin-top: myrem(10);
  }
}

.p-representative-story__content:nth-of-type(2)
  .p-representative-story__image::before {
  @include mq(sm) {
    background: url(../images/representative-story-bg_pc02.png) no-repeat center /
      cover;
  }
}

.p-representative-story__image img {
  aspect-ratio: 335 / 251;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: myrem(20);
}

.p-representative-story__list {
  margin-top: myrem(40);
  @include mq(sm) {
    width: calc(640 / 1100 * 100%);
    margin-top: 0;
  }
}

.p-representative-story__item {
  @include mq(sm) {
  }
}

.p-representative-story__item + .p-representative-story__item {
  margin-top: myrem(33);
  @include mq(sm) {
    margin-top: myrem(31);
  }
}

.p-representative-story-item__title {
  font-size: myrem(20);
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 700;
  color: #ff8800;
}

.p-representative-story-item__text {
  margin-top: myrem(16);
}

.p-representative-story__content:nth-of-type(2)
  .p-representative-story-item__text {
  @include mq(sm) {
    margin-top: myrem(20);
  }
}

.p-representative-story-item__text-desc {
  font-size: myrem(16);
  line-height: 1.622;
  letter-spacing: 0.02em;
}

.p-representative-story-item__text-desc
  + .p-representative-story-item__text-desc {
  margin-top: myrem(27);
}

.p-representative-story-item__text--bold {
  font-weight: 700;
  display: block;
}
